<aside>
    <div class="list-group">
        <div class="list-group-item">
            <a routerLink="'/'" routerLinkActive="router-link-active" class="nav-link">Home</a>
        </div>
        <div class="list-group-item">
            <a routerLink="'#'" routerLinkActive="router-link-active" class="nav-link">Book Store</a>
        </div>
        <div class="list-group-item">
            <a routerLink="'#'" routerLinkActive="router-link-active" class="nav-link">Other</a>
        </div>
    </div>
</aside>